# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Thumbtack\Algoritm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
